.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.img:hover .overlay {
  opacity: 40%;
}

/* text & fonts */

.text {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1.title {
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  opacity: 1.0;
  color: #EEAC9E;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


a:visited, a:active, a:hover, a:link, h1.title:visited {
  color: #EEAC9E;
}

/* image */
.img-fluid {
  width: 100%
  height: auto;
}

#bts-banner {
  width: 100%;
  height: auto;
}

p, .list {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8
}

h3.album {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400px;
}

ul.list {
  list-style-type: disc;
  margin-left: 40px;
}

p.bio-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Discography */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.overlay-image {
  position: relative;
  color: white;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Original text overlay */
.overlay-image .text {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

/* albums */
.album-container {
  display: flex;
  justify-content: 
  flex-direction: column;
}

/* media */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
  }
}

.filterDiv {
  float: left;
  color: #ffffff;
  width: 100%;
  line-height: 100px;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  flex-wrap: break; 
  display: flex;
  flex-direction: row;
  right: 60px;
  width: 100%;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

