/*.navbar.navbar-default.navbar-static-top

.navbar {
	height: 64.8px;
	background-color: transparent;
	border: none;
	color: white;
	z-index: 100;
}*/

/*.nav.navbar.navbar-right li a {
	color: white;
}
